<form [formGroup]="filtersForm" (ngSubmit)="submitForm()">

  <ng-container *ngFor="let filter of [{label: 'Categories', items: categoryFilterArray, control: 'selectedCategory'},
                                       {label: 'Brands', items: brandFilterArray, control: 'selectedBrand'},
                                       {label: 'Order', items: orderFilterArray, control: 'selectedOrder'}]">
    <mat-form-field>
      <mat-label>{{filter.label}}</mat-label>
      <mat-select formControlName="{{filter.control}}">
        <mat-option *ngFor="let item of filter.items" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field>
    <mat-label>Page</mat-label>
    <input matInput formControlName="selectedPage">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Limit</mat-label>
    <input matInput formControlName="selectedLimit">
  </mat-form-field>

  <button type="submit">Filter</button>
</form>
